/* Week 4 */

* { box-sizing: border-box; }


body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
}


header {
  height: auto;
}

header h1 {
  padding: 1rem;
  padding-top: 2rem;
  font-size: 2rem;
  color: #8468B3;
  font-weight: bold;
  text-align: center;
}

header nav {
  background-color: #8468B3;
  margin: 0;
  padding: 0;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.9rem;
}

header a:link, a:active, a:visited, a:hover { 
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

header nav li {
  display: inline;
  margin: -3px;
  border-top: 1px solid #6B4F9A;
  border-right: 2px solid #6B4F9A;
  border-bottom: 1px solid #6B4F9A;
  border-left: 2px solid #6B4F9A;
  padding: .4rem 3rem;
}


content {
  /*how to get 100% height on content?*/
}


aside { 
  float: left;
  width: 30%;
  height: 100%;
  padding: 2rem;
  background-color: #C0B2D5;
}

aside ul {
  list-style-type: none;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

aside ul li {
  padding: 1rem 0rem;
}

article {
  background-color: #e6e6e9;
  float: right;
  width: 70%;
  height: 100%;
}

article.home {
  padding: 2rem;
  text-align: center;
}

article img {
  width: 50%;
  height: auto;
}


footer { 
  clear: both; /* places footer after other page elements */
  text-align: center;
  height: auto;
}

footer img {
  margin: 1rem 0;
  padding: 0 2rem;
  width: 30%;
  max-width: 100px;
  height: auto;
}